<div class="message">
  <h2><%= @question %></h2>
  <p>-You</p>
</div>

<div class="message answer">
  <h2><%= @reponse %></h2>
  <p>-Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
